body{
    text-align: center;
    background:  linear-gradient( to right, #41bed1, #ebb810 );
    background-repeat: no-repeat;
}
#hobby{
    text-shadow: 2px 2px #F8BBDO;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Rampart One', cursive;
}
img{
    width: 300px;
    margin-top: 55px;
}
#VG{
    font-size: 20px;
}
#fav{
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

li{
  display: inline;
}
ul{
    margin-top: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: #fab73c;
    
}
#favvg{
    font-family: 'Rampart One', cursive;
    font-size: 30px;
}
.menu{
    list-style: none;
    font-family: cursive;
    top: 10px;
    cursor: pointer;
    color: black;
    padding-right: 30px;
    
}
.links:hover{
    background-color: darkorange;
    border-radius: 75px;
    font-size: 20px;
}
#image{
    height: 200px;
    width: 200px;
    margin-top: 0%;
}